h1 {
    color: rgb(0,255,0);
}
h2{
    color: rgb(20,20,225, .7); background-color: whitesmoke; width:17%; font-family: 'Times New Roman', Times, serif;
}
h3{
    color: rgb(11, 99, 150);
}
h4{
    color: rgb(150, 60, 200); background-color: purple;
}
body{
    background-color: rgb(150,150,150);
}
div{
    background-color: goldenrod; padding: 25px; width: 50.5%;
    border-radius: 90px; box-shadow: 0 8px 6px -6px black;
}